main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
}

.main-container{
    display: flex;
    flex-direction: row;

    align-items: center;
    
    background-color: var(--white-bg);
    box-shadow: -4px -4px 8px var(--white), 4px 4px 8px var(--light-purple), 8px 8px 16px var(--light-purple), 8px 8px 16px var(--white);
    padding: 0;
    border-radius: 2em;

    margin-top: 20px;
    padding: 20px;
}

.main-left, 
.main-right{
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    margin: 10px;    
}

.token{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.mr {
    margin-right: 20px;
}

.token-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--white-bg);
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    font-family: var(--font-title);
    box-shadow: -4px -4px 8px var(--white), 4px 4px 8px var(--light-purple), 8px 8px 16px var(--light-purple), 8px 8px 16px var(--white);
    border: none;

    cursor: pointer;

    transition: 0.3s ease-out;
}

.token-btn > i {
    margin-left: 10px;
    font-size: 1em;    
}

.token-btn:hover {
    transition: 0.2s ease-out;
    background: var(--white-bg);
    color: var(--purple);
    box-shadow: 
      -8px -8px 16px var(--white), 
      8px 8px 12px var(--light-purple), 
      12px 12px 20px var(--light-purple), 
      12px 12px 20px var(--white);
}
  
.token-btn:focus {
    transition: 0.5s ease-out;
    color: var(--purple);    
    box-shadow: none;
}

.token-dropdown > ul{

    transition: 0.3s ease-out;

    position: absolute;
    top: 25%;
    left: -2%;
    width: 150px;
    height: 50vh;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    list-style: none;
    font-size: 1.2rem;

    overflow-y: scroll;

    background-color: var(--white-bg);
    box-shadow: -4px -4px 8px var(--white), 4px 4px 8px var(--light-purple), 8px 8px 16px var(--light-purple), 8px 8px 16px var(--white);
}

.token-dropdown > ul > li{
    padding: 5px;

    margin: 10px;

    width: 100px;
    border-radius: 5px;
    background-color: var(--white-bg);

    box-shadow: -4px -4px 8px var(--white), 4px 4px 8px var(--light-purple), 8px 8px 16px var(--light-purple), 8px 8px 16px var(--white);

    cursor: pointer;
}

.token-dropdown > ul > li:hover{
    transition: 0.3s ease-out;
    color: var(--purple);
    background-color: var(--white-bg);
    box-shadow: 
        -8px -8px 16px var(--white), 
        8px 8px 12px var(--light-purple), 
        12px 12px 20px var(--light-purple), 
        12px 12px 20px var(--white);
}

#flow-right{
    left: auto;
    right: 0;

    margin-left: auto;
    padding-left: 20px;

}

.token-dropdown > ul::-webkit-scrollbar{
    width: 5px;    
    padding: 15px;
    margin: 55px;

    background-color: var(--white);
}

.token-dropdown > ul::-webkit-scrollbar-thumb{
    background-color: var(--purple);
    border-radius: 20px;
}


.amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin: 20px;
    padding: 20px;
}

.amount > input {
    width: 200px;
    height: 30px;
    border-radius: 2em;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-blue);
    font-family: var(--font-title);
    box-shadow: 
        inset -4px -4px 8px var(--white),
        inset 2px 2px 8px var(--light-purple),
        inset 4px 4px 16px var(--light-purple),
        inset 8px 8px 16px var(--white);
    /* border: 4px solid var(--white); */
    border: none;
    outline: none;

    padding: 20px;
    padding-left: 40px;
}